.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  background-color: #111;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}

.nav_logo_img {
  height: 30px;
  object-fit: contain;  
}

.navbar_links {
  display: flex;
  list-style-type: none;
}

.navbar_link {
  color: white;
  cursor: pointer;
  margin-right: 20px;
}